body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2196F3);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    text-align: center;
    font-size: 3em; 
    margin-bottom: 20px;
    color: #D6BD98; 
}
h1:hover{
    color: #7b6646;
}
#weather {
    background: rgb(112 205 219 / 90%);
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(100 179 163 / 90%);
    text-align: center;
    width: 300px;
}
#weather:hover{
    box-shadow: 0px 4px 16px black;
}
#weather input {
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: -17px;
    border: 1px solid #202121;
    border-radius: 5px;
    font-size: 16px;
}
#weather button {
    padding: 15px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#weather button:hover {
    background: #0056b3;
}
#weatherDetails {
    margin-top: 20px;
    font-size: 18px;
   
}

.icon-cloud {
    color: #0d0f0f3d; /* Deep Sky Blue */
}

.icon-temp {
    color: #FF4500; /* Orange Red */
}

.icon-humidity {
    color: #1E90FF; /* Dodger Blue */
}

.icon-pressure {
    color: #8A2BE2; /* Blue Violet */
}
#weatherDetails p i {
    margin-right: 10px;
}
#weatherDetails h2 {
    margin: 0;
    font-size: 24px;
}

    #rain-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;
        z-index: 0;
    }
    
    .raindrop {
        position: absolute;
        width: 2px;
        height: 10px;
        background: rgba(0, 0, 255, 0.5);
        animation: fall 2s infinite;
    }
    
    @keyframes fall {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(100vh);
        }
    }